extends layout

block content
  h3 Welcome #{username}!

  if (editmode == true)
    a(href="#", data-role="button", data-theme="e", data-icon="search", data-iconpos="top" ).ui-disabled Scan A Label
  else
    a(href="/scan", data-role="button", data-theme="e", data-icon="search", data-iconpos="top") Scan A Label

  // - three column grid for buttons
  div.ui-grid-b
    div.ui-block-a
      if (editmode == true)
          a(href="/home/delete", data-role="button", data-icon="delete", data-iconpos="top", data-mini="true") Delete
      else
          a(href="/profile/create", data-role="button", data-icon="plus", data-iconpos="top", data-mini="true") Add
    div.ui-block-b
      if (editmode == true)
          a(href="/home/", data-role="button", data-icon="minus", data-iconpos="top", data-mini="true") Cancel
      else
        - if(profilelist.length == 0) // If there's no profiles, disable the 'Edit' button
            a(href="/home/edit", data-role="button", data-icon="gear", data-iconpos="top", data-mini="true").ui-disabled Edit
        - else
            a(href="/home/edit", data-role="button", data-icon="gear", data-iconpos="top", data-mini="true") Edit
    div.ui-block-c
      button(data-icon="info", data-iconpos="top", data-mini="true") Help
  
  - if (profilelist.length == 0)
    p You don't have any profiles yet.
    a(href="/profile/create", data-role="button", data-icon="plus", data-iconpos="top", data-theme="b") Create one!


  // - need to put the input checkbox inside the li element in order to get the split-li-gear on the right. Ugly, but it'll have to do for now
  form(action="/home", method="post")
    .profilelist
      if (editmode == true)
        ul(data-role="listview", data-inset="true", data-split-icon="delete", data-theme="c")
          each profile, i in profilelist
            li
              a(href="#", onclick="$.mobile.toggle('#checkbox-#{i}')", data-mini="true")
                input(type="checkbox", name="checkbox-#{i}", id="checkbox-#{i}", data-mini="true")
                label(for="checkbox-#{i}", onclick="$.mobile.toggle('#checkbox-#{i}')", data-mini="true") #{profile.name}
              a(href="#", onclick="$.mobile.toggle('#checkbox-#{i}')")
      else
        ul(data-role="listview", data-inset="true", data-split-icon="edit", data-theme="c")
          each profile, i in profilelist
            li
              a(href="#", onclick="$.mobile.toggle('#checkbox-#{i}')", data-mini="true")
                input(type="checkbox", name="checkbox-#{i}", id="checkbox-#{i}", data-mini="true")
                label(for="checkbox-#{i}", onclick="$.mobile.toggle('#checkbox-#{i}')", data-mini="true") #{profile.name}
              a(href="/profile/#{profile._id}", data-mini="true")

