extends layout

block append head
  // - custom script for toggling the radiobox, since there's an <a> and an <li> to trigger the checkbox
  script
    function toggle(id){
      var cur = $(id);
      if (cur.prop('checked')){
        cur.prop('checked',false).checkboxradio('refresh')}
      else cur.prop('checked',true).checkboxradio('refresh');
    };



block content
  h3 Welcome!

  a(href="/scan", data-role="button", data-theme="e") Scan

  // - three column grid for buttons
  div.ui-grid-b
    div.ui-block-a
      button(data-icon="plus", data-iconpos="top", data-mini="true") Add
    div.ui-block-b
      button(data-icon="gear", data-iconpos="top", data-mini="true") Edit
    div.ui-block-c
      button(data-icon="info", data-iconpos="top", data-mini="true") Help
  
  // - need to put the input checkbox inside the li element in order to get the split-li-gear on the right. Ugly, but it'll have to do for now
  .profilelist
    ul(data-role="listview", data-inset="true", data-split-icon="gear", data-theme="c")
      - each profile, i in profilelist
        li
          a(href="#", onclick="toggle('#checkbox-#{i}')", data-mini="true")
            input(type="checkbox", name="checkbox-#{i}", id="checkbox-#{i}", data-mini="true")
            label(for="checkbox-#{i}", onclick="toggle('#checkbox-#{i}')", data-mini="true") #{profile.name}
          a(href="#", data-mini="true")

