extends layout

block content
  h3 Results
  - if(matchcount == 0)
    h3(style="color:#5287B7") No matches found!
  - else if(matchcount == 1)
    h3(style="color:red") #{matchcount} match found!
  - else if(matchcount > 1)
    h3(style="color:red") #{matchcount} matches found!
  ul(data-role="listview", data-split-icon="info", data-inset="true")
    - each ingr in ingrlist
      li
        a(href="#")
          - if (ingr.match == true)
            p(style="text-transform:capitalize;color:red;font-weight:bold")= ingr.name
          - else
            p(style="text-transform:capitalize;font-weight:bold")= ingr.name
        a(href="http://google.com/search?q=#{ingr.name}", target="_blank")